.changePassword label{
    margin-top: 20px;
    color: #3B230A;
    font-family: 'Jeju Gothic', sans-serif;
}

.changePassword input{
    background-color: rgba(207, 187, 166, 0.5);
    color: #3B230A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.changePassword input:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid #3B230A; 
    background-color: rgba(207, 187, 166, 0.5); 
    color: #3B230A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.old-password-field,
.form-password,
.confirm-password {
    position: relative;
}

.old-password-field{
    margin-top: 20px;
}

.toggle-password {
    position: absolute;
    top: 78%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #3B230A;
}

/* button */
.changePassword button {
    width: 100px;
    max-width: 100%;
    color: #F9F9F5;
    background-color: #3B230A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Jeju Gothic', sans-serif;
    margin-bottom: 20px;
    font-family: 'Jeju Gothic', sans-serif;
}

.changePassword .d-flex {
    display: flex;  
    justify-content: flex-end;
    width: 100%;
}

.changePassword button:hover{
    background-color: #CFBBA6;
    color: #3B230A;
}

.message #message{
    color: red;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}