.message-sent{
    background-color: rgba(207, 187, 166, 0.5) !important;
    width: 55%;
    max-width: fit-content;
    border-radius: 15px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Jeju Gothic', sans-serif;
    color: #3B230A;
    padding: 40px 40px 20px 40px;
}