body{
    font-family: 'Jeju Gothic', sans-serif;
}

/* reset password */
.reset-password{
    background-color: rgba(207, 187, 166, 0.5);
    width: 55%;
    height: fit-content;
    border-radius: 15px;
    padding: 0 40px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.reset-password h3{
    color: #3B230A;
    text-align: center;
    margin: 30px auto 0 auto;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 32px;
}

.reset-password p{
    color: #3B230A;
    text-align: center;
    margin: 15px auto 0 auto;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Jeju Gothic', sans-serif;
}

/* email */
.reset-password label{
    color: #3B230A;
    font-family: 'Jeju Gothic', sans-serif;
    margin-top: 40px;
}

.reset-password input{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    font-family: 'Jeju Gothic', sans-serif;
    border-radius: 5px;
    background-color: #F9F9F5;
    border: 2px solid #F9F9F5;
    padding-top: 5px;
    padding-bottom: 5px;
}

.reset-password input:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid #3B230A; 
    background-color: #F9F9F5; 
    color: #3B230A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.reset-password button{
    margin: 60px 40px 50px 0;
    width: 100%;
    color: #F9F9F5;
    background-color: #3B230A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: 'Jeju Gothic', sans-serif;
}

.reset-password button:hover{
    background-color: #CFBBA6;
    color: #3B230A;
}

@media (max-width: 769px){
    .reset-password h3{
        font-size: 28px;
    }

    .reset-password{
        width: 50%;
    }
}