html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9F9F5;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px; 
    box-sizing: border-box;
}

.header{
    background-color: #CFBBA6;
    padding: 10px 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header img{
    width: 30px;
    height: 30px;
}

.header img:hover{
    background-color: #F9F9F5;
    border-radius: 50%;
}

.header h1{
    color: #3B230A;
    margin: auto;
}

.content{
    flex: 1;
    padding-top: 80px; /* mengimbangi header fixed */
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3B230A;
    padding: 15px 20px;
    background-color: transparent;
}

.footer-left p{
    margin: 0;
    font-family: 'Jeju Gothic', sans-serif;
}

.footer-right a{
    color: #3B230A;
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-right a:hover{
    color: #000000;
}
