{% extends "libraria/base_profile.html" %}
{% load static %}

{% block content %}
<link href="{% static 'libraria/css/style_base_editProfile.css' %}" rel="stylesheet">
<link href="{% static 'libraria/css/style_changePassword.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> 

<div class="container">
    {% include "libraria/base_editProfile.html" %}
    <form action="" method="post" class="changePassword" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="reset-password">
            <!-- old password -->
            <div class="old-password-field">
                <label for="old-password-field">Old Password</label>
                <input type="password" class="form-control" id="old-password-field" name="old_password" placeholder="Enter password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
          
            <!-- new password -->
            <div class="form-password">
                <label for="new-password-field">Enter new password</label>
                <input type="password" class="form-control" id="new-password-field" name="new_password1" placeholder="Enter password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>

            <!-- confirm password -->
            <div class="confirm-password">
                <label for="confirm-password-field">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password-field" name="new_password2" placeholder="Enter password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                    <i class="fa fa-eye"></i>
                </span>
            </div>
            
            <div class="message d-flex justify-content-start">
                {% for message in messages %}
                    <p id="message">{{message}}</p>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mt-3" type="submit">Change</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}