{% extends 'libraria/base_user.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'libraria/css/style_dashboard.css'%}">
<div class="header">
    <h1>Welcome Back, {{request.user}}</h1>
    <p>Your reading adventure starts here</p>
</div>

<!-- Book of the Month -->
<section class="mt-5" id="bookMonth">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3>Book of the Month</h3>
        <a href="#" class="btn btn-sm btn-outline-secondary">See All&nbsp;&nbsp;></a>
    </div>
    <div class="row d-flex gap-5 flex-nowrap overflow-auto px-2">
        {% for i in "123"|make_list %}
        <!-- Card 1 -->
        <div class="col-md-3 border-0 p-3 d-flex flex-row align-items-start" id="sec1">
            <a href="#"><img src="{% static 'libraria/asset/Cover.png' %}" alt="Percy" style="width: 100px; height: 150px;"></a>
            <div class="d-flex flex-column justify-content-start" id="detail">
                <a href="#" style="text-decoration: none;"><p class="book-title">Percy Jackson and The Olympians I</p></a>
                <p class="writer">Rick Riordan</p>
                <div class="stars">
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Recommendation -->
<section class="mt-5" id="recommendation">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3>Recommendation</h3>
        <a href="#" class="btn btn-sm btn-outline-secondary" id="seeAll2">See All&nbsp;&nbsp;></a>
    </div>

    <div class="recommendation-wrapper">
        <div class="recommendation-container">
        {% for i in "123456"|make_list %}
        <div class="recommendation-card">
            <a href="#"><img src="{% static 'libraria/asset/Cover.png' %}" alt="Percy" class="cover-img"></a>
            <div class="detail">
                <a href="#" class="recom-link">
                    <p class="recom">Percy Jackson and<br>The Olympians I</p>
                </a>
                <p class="writer2">Rick Riordan</p>
                <div class="stars2">
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                </div>
                <p class="price">Rp15.000</p>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>

<!-- Librender Star -->
<section class="mt-5">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3>Librender Star</h3>
        <a href="#" class="btn btn-sm btn-outline-secondary" id="seeAll2">See All&nbsp;&nbsp;></a>
    </div>
    <div class="librender-wrapper">
        <div class="librender-container">
            {% for user in all_users %}
            <a href="{% url 'user_profile' user.signup.id %}" class="text-decoration-none text-dark">
                <div class="flex-row align-items-start text-center rounded py-4 border" id="librender" style="cursor: pointer;">
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="User" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                    {% else %}
                        <img src="{% static 'libraria/asset/Profile.jpeg' %}" alt="User" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
                    {% endif %}
                    <h5 class="pt-4 account-name">{{ user.name }}</h5>
                    <div class="stars2 pt-2">
                        {% for i in "12345"|make_list %}
                            {% if forloop.counter <= user.avg_rating_int %}
                                <i class="fa fa-star"></i>
                            {% else %}
                                <i class="fa fa-star-o"></i>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}      