{% extends 'libraria/base_password.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'libraria/css/style_resetPassword.css'%}">

<!-- Reset Password -->
<form method="post" action="" class="d-flex align-items-center justify-content-center">
    {% csrf_token %}
    <div class="reset-password">
        <h3>Reset My Password</h3>
        <p>Enter your account email address, and we'll
           send you a verification code to change your
           password.</p>

        <!-- Email Field -->
        <div class="form-group">
            <label for="id_email">Email</label><br>
            {{ form.email }}
        </div>

        <!-- Submit -->
        <button class="btn" type="submit">Send Password Reset Link</button>
    </div>
</form>
{% endblock %}
