{% extends 'libraria/base_password.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'libraria/css/style_resetPasswordForm.css'%}">
<!-- reset password -->
        <form method="POST" class="d-flex align-items-center justify-content-center">
            {% csrf_token %}
            <div class="reset-password">
                <h3>Reset My Password</h3>
                <p>Enter your new password</p>
                
                <!-- new password -->
                <div class="form-password">
                    <label for="new-password-field">Enter new password</label>
                    <input type="password" class="form-control" id="new-password-field" name="new_password1" placeholder="Enter password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>

                <!-- confirm password -->
                <div class="confirm-password">
                    <label for="confirm-password-field">Confirm password</label>
                    <input type="password" class="form-control" id="confirm-password-field" name="new_password2" placeholder="Enter password" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility(this)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>

                <!-- submit -->
                <button class="btn" type="submit">Reset Password</button>
            </div>
        </form>
{% endblock %}    