{% extends "libraria/base_review.html"%} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'libraria/css/reviewaccount.css' %}" />
<div class="review-section">
  <p class="review-label" style="margin-top: 15px;">Book Owner's Review</p>
  <hr />
  <form method="post" action="{% url 'review_user' book_id=selected_book.book_id %}">
    {% csrf_token %}
    <input type="hidden" name="book_id" value="{{ selected_book.book_id }}" />
    <input type="hidden" id="rating-value" name="rating" value="0" />

    <!-- Rating: Klik bintang 1 s.d. 5 -->
    <div class="rating mb-3 d-flex align-items-center gap-2">
      <p class="rating-text mb-0">Rating</p>
      <div class="star-rating mb-0">
        <i class="fa fa-star empty" data-value="1"></i>
        <i class="fa fa-star empty" data-value="2"></i>
        <i class="fa fa-star empty" data-value="3"></i>
        <i class="fa fa-star empty" data-value="4"></i>
        <i class="fa fa-star empty" data-value="5"></i>
      </div>
    </div>

    <!-- Comment (textarea) -->
    <div class="mb-3">
      <textarea class="review-box" name="comment" placeholder="Tuliskan ulasan Anda untuk pemilik buku di sini..." required></textarea>
    </div>

    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-3">
      <button type="submit" class="btn btn-dark custom-btn" style="margin-top: 20px; margin-bottom: 13px;">Submit</button>
    </div>
  </form>
</div>

{% endblock %}